.search-card {
	/* border-top: 5px solid #F57C20; */
	width: 80%;
	margin: 0 auto;
	/* box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); */
	border: none;
}

.search-card .card-body {
	padding:0;
}

#searchExample {
	margin: 0;
	padding: 0;
	text-align: right;
	font-size: 1em;
	color: #888;
}

md-card-content ul {
	padding: 0;
	margin: 0;
}

md-card-content ul li {
	list-style-type: none;
	font-size: 0.9em;
}

.row-backbordered:before{
	content:'';
	position:absolute;
	display:block;
	top:45%;
	left:-1000px;
	right:-1000px;
	height:1px;
	background-color:#dcdfe4
}

.row-backbordered {
	position: relative;
}

/* .search-input {
	width: 500px !important;
} */

.icon_animation {
	-webkit-animation: spin 2s linear infinite;
	color: #F57C20;
	font-size: 50px;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.result-row {
	width: 85%;
	margin: 0 auto;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.result-row .resultCard {
	width:25%;
	min-width: 250px;

}

.result-box {
	border: 1px solid #CCC;
	margin: 7px;
	padding: 7px;
	border-radius: 5px;
	border-top: 5px solid #F57C20;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.result-box:hover {
	background-color: #F9F9F9;
}

.result-header {
	border-bottom: 1px solid #CCC;
	font-size: 22px;
	font-weight: bold;
}

.result-contents {

}

.beacon-container {
	border: 1px solid #CCC;
	margin: 7px;
	padding: 7px;
	border-radius: 5px;
	border-top: 5px solid #F57C20;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.beacon-header {
	border-bottom: 1px solid #CCC;
	font-size: 22px;
	font-weight: bold;
}

.beacon-content {

}

.user-logged-in {
	color: #F57C20;
}

.searchForm {
	width: 85%;
	margin: 0 auto;
}
.searchForm md-content {background: #fff;}

.searchRow {
	width: 100%;
}
.searchSelect {
	width: 25%;
}
.searchBox {
	width: 80%;
	height:10px;
}

md-autocomplete#custom-template {
  width: 200px;
}
.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  /* height: auto; */
  /* padding-top: 8px;
  padding-bottom: 8px; */
  white-space: normal;
}
.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}
.autocomplete-custom-template .item-type {
	float:left;
	margin:0 10px 0 0;
	padding: 15px 10px 0px 10px;
	height: 50px;
	width: 75px;
	background-color: #ccc;
	text-transform: capitalize;
	text-align: center;
}
.autocomplete-custom-template .item-title {
	float:left;
	font-size: 1.2em;
	padding-top: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 65%;
}
.autocomplete-custom-template .item-title span {
 }

.autocomplete-custom-template .item-metadata {
	float: right;
	font-size: 0.9em;
}
.autocomplete-custom-template .item-metadata span {
	display: block;
	margin:3px 0 0 0;
	padding: 0;
	width:120px;
	text-align: left;
	color: #777;
	font-weight: 500;
}
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  /* line-height: 2; */
}

.md-autocomplete-suggestions-container .md-autocomplete-suggestions li {
  line-height: inherit;
  height: 50px;
	padding: 0;
}

#beaconLogo {
	margin:0 auto;
	width: 300px;
}

#beaconLogo a img {
	width: 300px;
}

.custom-container {
  min-width: 300px !important;
}
