<h1>ELIXIR Beacon Network</h1></br>
<!--<div class="row row-backbordered"> BREAKS THE DOCUMENT-->
  <div class="col-sm-12">
    <div class="card search-card">
      <div class="card-body">
        <form name="searchForm" ng-submit="submit()" class="form-inline">
          <div class="mx-auto">
            <select class="form-control">
              <option disabled>Mutation (NYI)</option>
              <option disabled>Disease (View2)</option>
              <option selected>Gene</option>
            </select>
            <input class="form-control input-lg search-input" type="text" placeholder="Search..." ng-model="search.query" required />
            <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary" />
          </div>
        </form>
      </div>
    </div>
    <div class="result-row">
      <div ng-repeat="datum in message.data">
        <div class="result-box"><div class="result-header">{{datum.chr}} : {{datum.chrpos}} {{datum.ref}} > {{datum.alt}}</div>
                                      <div class="result-contents"><b>Info:</b><br></div>
                                      <input type="checkbox" /> Select
                                    </div>
      </div>
    </div>
  </div>
<!--</div>-->
<p>GRCh38 pre-selected</p>


<!--
<style>
  .result-card {

  }

  .response-box {
    background-color: #D7E5EA;
    margin: 20px;
  }
  .response-row {
    padding: 5px;
    background-color: #E8EFF2;
  }
  .response-row:hover {
    background-color: #BED6E0;
    font-weight: bold;
  }
</style>

<div class="response-box">
  <ul>
    <li class="response-row" ng-repeat="datum in message.data">{{ datum.phenotype_name }} {{ datum.gene }} {{ datum.genotype_id }}</li>
  </ul>
</div>

-->
<hr>


Debug view
<pre style="background-color:#F7F7F7;font-size:12px;margin:50px;padding:5px;">
Input field:
<tt>{{ search.query }}</tt>

Query:
<tt>{{ url }}{{ search.query }}</tt>

Response:
<tt>{{ message.data }}</tt>
</pre>